#p{
    font-size: 0.8pc;
    font-weight: 100;
}

.admin-container {
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

input {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px; /* Tamanho de fonte fixo para evitar zoom em dispositivos móveis */
    /* Remover zoom em dispositivos móveis */
    touch-action: manipulation;
    /* Definir viewport para evitar zoom no input */
    /* No HTML: <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"> */
}

button {
    margin: 5px 0;
    margin: 5px 0;
    padding: 10px;
    border: none;
    background-color: #ff00f2;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#excluir{
    margin: 5px 0;
    margin: 5px 0;
    padding: 10px;
    border: none;
    background-color: #ff0000;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
#editar{
    margin: 5px 0;
    margin: 5px 0;
    padding: 10px;
    border: none;
    background-color: #611856;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
button:hover {
    background-color: #8a269d;
}

#excluir:hover {
    background-color: #ca0606;
}
#editar:hover {
    background-color: #700e61;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

/* Estilos adicionais para responsividade */
@media (max-width: 600px) {
    .admin-container {
        padding: 10px;
    }

    input,
    button {
        font-size: 14px; /* Ajusta o tamanho da fonte em dispositivos menores */
    }
}
.bts{
    display: flex;
    justify-content: space-around;
    max-width: 9pc;
}
.produtos-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.produto-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    width: 200px;
    text-align: center;
}

.produto-card img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}
